body {
    font-family: Arial, sans-serif;
    background: #d0efd0;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJ4FPimbazZD3jktbvr3V-QmCTklclIsmXYQ&s'); 
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat; 
    color: #2e3d24;
    padding: 20px;
    font-size: 18px;
}

h2 {
    font-size: 28px;
    color: #1b5e20;
    margin-bottom: 15px;
    text-align: start;
    word-wrap: break-word;
}

p {
    font-family: 'Georgia', serif; 
    font-size: 18px;   
    text-align: justify;                          
    color: #2e3d24;                        
    overflow-wrap: break-word;
}

nav {
    background: linear-gradient(135deg, #2e7d32, #81c784);
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #c7e0b4;
}

section {
    padding: 20px;
    margin: 20px;
    background: #f0fff0;
    border-radius: 20px;
}

.product-grid ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0;
    list-style: none;
}

.product-grid ul li.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    text-align: center;
    border: 2px solid #2a7e2f;
    border-radius: 10px;
    background: #f0fff0;
}

.product-grid ul li.item img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border: 3px solid #1b5e20;
    border-radius: 8px;
}

.product-grid ul li.item span {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #1b5e20;
}

.product-grid ul li.item button.buy {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background: #2e7d32;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.product-grid li.item button {
    margin-top: 15px;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(135deg, #2e7d32, #81c784);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
}

.product-grid ul li.item button:hover {
    transform: scale(1.1);
    background: #1b5e20;
    background: linear-gradient(135deg, #1b5e20, #4caf50);
}

button{
    background: linear-gradient(135deg, #2e7d32, #81c784);
    color: #fff;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s, box-shadow 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

button:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, #1b5e20, #4caf50);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}


footer {
    text-align: center;
    padding: 15px;
    background: #2e7d32;
    color: white;
    border-radius: 10px;
}

