body {
    font-family: Arial, sans-serif;
     background: #d0efd0;  
    color: #2e3d24;
    padding: 20px;
    font-size: 18px;
}

h1 {
    font-size: 28px;
    color: #1b5e20;
    text-align: start;
    word-wrap: break-word;
}

p {
    font-family: 'Georgia', serif; 
    font-size: 18px;   
    text-align: justify;                          
    color: #2e3d24;                        
    overflow-wrap: break-word;
}

nav {
    background: #2e7d32;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #c7e0b4;
}

section {
    padding: 20px;
    margin: 20px;
    background: #f0fff0;
    border-radius: 20px;
}

.product-grid ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0;
    list-style: none;
}

.product-grid ul li.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    text-align: center;
    border: 2px solid #2a7e2f;
    border-radius: 10px;
    background: #f0fff0;
}

.product-grid ul li.item img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border: 3px solid #1b5e20;
    border-radius: 8px;
}

.product-grid li.item button {
    margin-top: 15px;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(135deg, #2e7d32, #81c784);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.product-grid ul li.item button:hover {
    background: #1b5e20;
    background: linear-gradient(135deg, #1b5e20, #4caf50);
}

button{
    background: linear-gradient(135deg, #2e7d32, #81c784);
    color: #fff;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, #1b5e20, #4caf50);
}

footer {
    text-align: center;
    padding: 15px;
    background: #2e7d32;
    color: white;
    border-radius: 10px;
}

